.VideoListItem {
    width: 100%;
    min-width: 300px;
    cursor: pointer;
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &:last-of-type {
        padding-bottom: 15px;
    }

    .thumbnail {
        width: 100%;
        max-width: 150px;
    }

    .details {
        width: 100%;
        margin: 5px 0;
        margin-left: 10px;
        margin-top: 0;
        font-family: sans-serif;

        .title {
            font-weight: bold;
            font-family: sans-serif;
            font-size: 12px;
            margin: 0;
            margin-bottom: 3px;
            line-height: 14px;
        }

        .channel,
        .views {
            color: #999;
            font-size: 11px;
            margin: 0;
            line-height: 16px;
        }

        .views {
            font-size: 10px;
        }
    }
}
